import { {{ mutationName }} } from '{{ mutationsFile }}';

/**
* @param { function } commit
* @param { {{propertyType}} } {{property}}
*/
export function {{ actionName }}({ commit }, { {{ property }} }) {
    commit({{ mutationName }}, { {{ property }} });
}
