import { {{ mutationName }} } from '{{ mutationsFile }}';

export default {
    /**
    {{# useInterface }}
    * @param { {{tsInterfaceName}} } state
    {{/ useInterface }}
     {{ ^useInterface }}
    * @param { object } state
    {{/ useInterface }}
    * @param { {{propertyType}} } {{property}}
    */
    [{{ mutationName }}](state, { {{ property }} }) {
        state.{{ property }} = {{ property }};
    },
};
