import {{ componentNameCamelCase }} from './{{componentName}}.vue';

export default { title: '{{ componentName }}' };

export const component = () => ({
    components: { {{ componentNameCamelCase }} },
    props: {

    },
    template: '<{{ componentName }} />',
});
