import { mount } from '@vue/test-utils';
import {{ componentNameCamelCase }} from './{{ componentName }}';

describe('Spec {{ componentName }}', function() {
    it('mounts', () => {
        const wrapper = mount({{ componentNameCamelCase }});
        expect(wrapper)
            .toBeTruthy();
    });
});